<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Welcome to Tasks Tracker!</h5>
                        <div class="form-floating mb-3">
                            <input type="email" id="taskEmail" name="taskEmail" [(ngModel)]="tasksUserName" class="form-control">
                            <label for="taskEmail">Email address</label>
                        </div>
                        <div class="d-grid gap-3">
                            <input type="button" (click)="btnFilterClick(TaskFilterState.Creation)" class="btn btn-primary btn-login text-uppercase fw-bold p-2" value="Load Created Tasks" />
                            <input type="button" (click)="btnFilterClick(TaskFilterState.Assignment)" class="btn btn-primary btn-login text-uppercase fw-bold p-2" value="Load Assigned Tasks" />
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>